#page-background {
  background-image: url(astro-website\ background.jpeg);
  background-size: cover;
}

#page-body {
  margin: auto;
  border: 2px solid black;
  padding: 20px;
  max-width: 100%;
  text-align: center;
}
#app-welcome {
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 85%;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: beige;
}

#app-introduction {
  display: block;
  margin: auto;
  border: 2px solid black;
  padding: 5px;
  max-width: 85%;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: beige;
  color: rgb(10, 10, 61);
  text-transform: uppercase;
}

.buttons {
  display: inline-block;
  font-size: 14px;
  background-color: beige;
  color: rgb(11, 11, 126);
  border-radius: 6px;
}
#buttons-1 {
  display: inline-block;
  font-size: 14px;
  background-color: rgb(11, 11, 126);
  color: beige;
  border-radius: 6px;
}

#break {
  padding: 10px;
}

#today-title {
  display: block;
  margin: auto;
  color: white;
  text-transform: uppercase;
}

#date-title {
  display: block;
  margin: auto;
  color: white;
  text-transform: uppercase;
}

#today-image img {
  margin: auto;
  padding: 20px;
  max-width: 90%;
  max-height: 50%;
  object-fit: contain;
  display: block;
}

#date-image img {
  margin: auto;
  padding: 20px;
  max-width: 90%;
  max-height: 50%;
  object-fit: contain;
  display: block;
}

#today-info {
  display: block;
  margin: auto;
  border: 2px solid black;
  padding: 5px;
  max-width: 85%;
  font-size: 18px;
  color: white;
  background-color: rgb(12, 12, 58);
  font-family: "Courier New", Courier, monospace;
}

#date-info {
  display: block;
  margin: auto;
  border: 2px solid black;
  padding: 5px;
  max-width: 85%;
  font-size: 18px;
  color: white;
  background-color: rgb(12, 12, 58);
  font-family: "Courier New", Courier, monospace;
}

#search-banner {
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 85%;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
}

#search-submit {
  text-transform: uppercase;
}
